<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
      table {
        border-collapse: collapse;
      }
      
      table, th, td {
        border: 1px solid black;
      }    
    </style>
</head>
<body>
    <p th:text="'Message: ' + ${message} + '!'" />
    <p><a th:href="${url}" th:text="${url}" /></p>
    
    <ul>
      <li th:each="li : ${list}" th:text="${li}"/>
    </ul>
    
    <table style="width:500px;border:1px solid #000">
      <tr>
        <th>Book</th>
        <th>Author</th>
      </tr>
      <tr th:each="book : ${books}">
        <td th:text="${book.title}"/>
        <td th:text="${book.author}"/>
      </tr>
    </table>
</body>
</html>