<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Message: ' + ${message} + '!'" />
    <p><a th:href="${url}" th:text="${url}" /></p>
    
    <ul>
      <li th:each="li : ${list}" th:text="${li}"/>
    </ul>
    
    <table>
      <tr th:each="book : ${books}">
        <td th:text="${book.title}"/>
        <td th:text="${book.author}"/>
      </tr>
    </table>
</body>
</html>